html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

body {
  margin: 0px;
}

.header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F3F4F6;
}
.header__wraps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 114px;
  width: 100%;
  animation-name: logotype;
  animation-duration: 5s;
  animation-timing-function: ease;
}
.header__logo {
  width: 130px;
  display: flex;
  align-items: center;
  line-height: 30px;
  margin-top: 18px;
  margin-bottom: 15px;
  animation: header_logo_name ease 2s;
}
.header__logo-name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}
.header__tlf {
  width: 167px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin-left: auto;
  margin-right: 32px;
  text-decoration: none;
  color: black;
}

@keyframes logotype {
  from {
    opacity: 0.2;
    width: 1400px;
    height: 0px;
  }
  to {
    width: 1400px;
    height: 64px;
  }
}
@keyframes header_logo_name {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.shdow {
  display: flex;
  animation-name: header_logo_name;
  animation-duration: 3s;
}

.velo {
  animation-name: velok;
  animation-duration: 5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes velok {
  0%, 50% {
    margin-left: 0px;
  }
  71%, 100% {
    margin-left: 600%;
  }
}
.button_small {
  width: 170px;
  height: 32px;
  font-size: 14px;
  padding: 4px 30px;
}

.button {
  background: #278EED;
  border: 1px solid #278EED;
  border-radius: 20px;
  color: white;
}

@media screen and (max-width: 996px) {
  .header {
    height: 42px;
  }
  .header__wraps {
    padding: 0px 16px 0px 8px;
  }
  .header__tlf {
    display: none;
  }
  .header__logo-name {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .header {
    height: 42px;
  }
  .header__wraps {
    padding: 0px 16px 0px 8px;
  }
  .header__tlf {
    display: none;
  }
  .header__logo-name {
    display: none;
  }
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 133px;
  box-sizing: border-box;
  background-image: url(/Images/velo.png);
  background-size: cover;
  background-position-x: 50%;
  height: calc(100vh - 64px);
  animation: header_logo_name ease 5s;
}
.banner__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__lead {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 58px;
  text-align: center;
  margin: 0;
}
.banner__subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 52px;
}
.banner__button_large {
  width: 70%;
  height: 70px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .banner {
    height: calc(100vh - 42px);
  }
}
@media screen and (max-width: 360px) {
  .banner__subtitle {
    font-size: 26px;
    line-height: 40px;
  }
  .banner__lead {
    font-size: 20px;
    line-height: 34px;
  }
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.list {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  border-radius: 20px;
  padding: 7% 8% 4%;
  justify-content: center;
  gap: 2%;
  height: 573px;
}
.list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 31px 5%;
  width: 26%;
  height: 424px;
}
.list__text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
.list__desc {
  height: auto;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin: 0;
}
.list__text_green {
  color: #24BA96;
}
.list__text_yellow {
  color: #F0A900;
}
.list__text_pink {
  color: #FF6577;
}
.list__img {
  max-width: 372px;
}

@media screen and (max-width: 360px) {
  .container {
    max-width: 360px;
    margin: 39px 15px;
  }
  .list {
    width: 100%;
    height: 511px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5% 0px 6% 3%;
    margin: 0px;
    box-sizing: border-box;
  }
  .wrappper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8%;
  }
  .list__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .list__text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    text-align: start;
    margin: 0px 0px 8px 0px;
  }
  .list__desc {
    text-align: start;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  .list__img {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 700px) {
  .container__header {
    max-width: 700px;
    margin: 0px;
  }
  .list {
    width: 100%;
    height: 511px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5% 0px 6% 3%;
    margin: 0px;
    box-sizing: border-box;
  }
  .wrappper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8%;
  }
  .list__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .list__text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    text-align: start;
    margin: 0px 0px 8px 0px;
  }
  .list__desc {
    text-align: start;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  .list__img {
    width: 60px;
    height: 60px;
  }
}
.container__reviews {
  max-width: 1400px;
  margin: 0 auto;
}

.utr {
  width: 50%;
  max-width: 572px;
}

.revirws__wrapper {
  width: 100%;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
  margin-bottom: 1px;
  margin-right: 0px;
}

.reviews {
  display: flex;
  width: 100%;
  max-height: 546px;
  height: 100%;
  padding: 6% 8.15% 7.5% 8.15%;
  gap: 12px;
  box-sizing: border-box;
}
.reviews__clients {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: 346px;
  background-image: url(/Images/background.png);
  background-size: cover;
  background-position: center;
  background-position-x: 50%;
}
.reviews__mountain-picture {
  width: 100%;
  height: 100%;
}
.reviews__subtitle {
  width: 300px;
  height: 33px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
  padding-right: 0px;
  margin: 0px;
}
.reviews__blockquote {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  width: 292px;
  height: 104px;
  text-align: start;
  margin: 48px 0px 24px 0px;
}
.reviews__author-name {
  width: 158px;
  height: 34px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  margin: 0px;
}
.reviews__arrow-thumbnail {
  order: 1;
}
.reviews__points-thumbnail {
  width: 100%;
  max-width: 172px;
}

@media screen and (max-width: 360px) {
  .reviews {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    max-height: 465px;
    height: 100%;
    padding: 0px 14px;
    gap: 0px;
    box-sizing: border-box;
  }
  .reviews__clients {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: none;
    background-size: none;
    background-position: none;
    background-position-x: none;
  }
  .utr {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 329px;
    height: 199px;
  }
  .reviews__mountain-picture {
    width: 100%;
  }
}
@media (min-width: 361px) and (max-width: 960px) {
  .reviews {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 546px;
    height: 100%;
    padding: 0px;
    gap: 0px;
    box-sizing: border-box;
  }
  .reviews__clients {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 346px;
    height: 100%;
    background-image: none;
    background-size: none;
    background-position: none;
    background-position-x: none;
  }
  .utr {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 960px;
  }
  .reviews__mountain-picture {
    width: 360px;
    height: 100%;
  }
  .reviews__subtitle {
    height: 33px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    padding-right: 0px;
    margin: 0px;
  }
  .reviews__blockquote {
    width: 97%;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 20px 2.3% 20px 0px;
  }
  .reviews__author-name {
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    margin: 0px;
  }
  .revirws__wrapper {
    max-width: 960px;
    width: 100%;
    box-sizing: content-box;
    display: flex;
    justify-content: start;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-right: 0px;
  }
}
.container-faq {
  max-width: 1400px;
  margin: 0px auto;
}

.hr {
  max-width: 772px;
  width: 100%;
  border: 1px solid #9CA3AF;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 96px;
}
.questions__topic {
  margin: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 64px;
}
.questions__block {
  display: flex;
  flex-direction: column;
  padding: 0px 287px;
  margin-top: 29px;
  gap: 8px;
}
.questions__list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.questions__answer {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  margin: 0px;
}
.questions__h3_height-big {
  height: 50px;
}
.questions__h3_height-middle {
  height: 32px;
}
.questions__h3_height-small {
  height: 27px;
}
.questions__p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin: 37px 0px 31px 0px;
}
.questions__list_grey__small {
  border-radius: 20px;
  padding: 24px 50px 24px 31px;
}
.questions__list_grey {
  border-radius: 20px;
  padding: 33px 50px 33px 31px;
}
.questions__list_white {
  border-radius: 20px;
  padding: 24px 50px 24px 31px;
}

details {
  background: #F3F4F6;
}

details[open] .marker {
  transform: rotate(360deg);
}

details[open] {
  background: none;
}

details > summary::marker {
  display: none;
}

.marker {
  transform: rotate(270deg);
  transition-duration: 2s;
  transition-timing-function: ease;
}

.marker:hover path {
  fill: #053caa;
}

@media screen and (max-width: 360px) {
  .questions {
    align-items: flex-start;
    margin-bottom: 54px;
  }
  .questions__topic {
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 32px;
    margin-left: 13px;
  }
  .questions__block {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 15px;
    margin-top: 29px;
    gap: 40px;
  }
  .questions__list {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-top: 1px solid #9CA3AF;
  }
  .hr {
    display: none;
  }
  .questions__answer {
    max-width: 324px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    margin: 0px;
  }
  .marker {
    width: 20px;
    margin-top: 5px;
  }
  .questions__h3_height-big {
    height: 100px;
  }
  .questions__h3_height-middle {
    height: 98px;
  }
  .questions__h3_height-small {
    height: 98px;
  }
  .questions__p {
    width: 306px;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 24px 40px 24px 0px;
  }
  .questions__list_grey__small {
    border-radius: 0px;
    padding: 0px 0px 0px 0px;
  }
  .questions__list_grey {
    border-radius: 0px;
    padding: 0px 0px 0px 0px;
  }
  .questions__list_white {
    border-radius: 0px;
    padding: 0px 0px 0px 0px;
  }
  details {
    background: none;
  }
}
.request-wrapper {
  margin-top: 44px;
  margin-bottom: 32px;
}

.mobile {
  width: 50%;
  max-width: 607px;
}

.container-request {
  max-width: 1400px;
  margin-left: 114px;
  margin-right: 94px;
}

.request {
  max-width: 671px;
  width: 100%;
  height: 700px;
  background: #F3F4F6;
  border-radius: 20px;
  padding: 82px 96px 80px 100px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.request__input {
  width: 100%;
  border: 1px solid #9CA3AF;
  border-radius: 10px;
  background: #F3F4F6;
  padding: 14px 0px 12px 16px;
}

.request__TextErr {
  font-size: 12px;
  color: red;
  margin-top:5px;
  margin-left:5px;
  opacity: 0;
}

.request__TextValid{
  font-size: 12px;
  color: red;
  margin-top:5px;
  margin-left:5px;
  opacity: 0;
}

.request__MailValid{
  font-size: 12px;
  color: red;
  margin-top:5px;
  margin-left:5px;
  opacity: 0;
}



.request__input__error {
  border: 1px solid #ea043e;
}

.request__input::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #9CA3AF;
}
.request__input-label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}

.request-wrapper {
  margin-top: 44px;
  margin-bottom: 32px;
}


.mobile {
  width: 50%;
  max-width: 607px;


}

textarea {
  resize: none;
  max-width: 476px;
  width: 100%;
  height: 133px;
  border: 1px solid #9CA3AF;
  border-radius: 10px;
  margin-bottom: 32px;
  background: #F3F4F6;
  
}


form {
  display: flex;
  width: 50%;
  height: 700px;
}


.request__button_middle {
  max-width: 276px;
  width: 100%;
  height: 50px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  padding: 11px 94px;
  text-align: center;
  margin-bottom: 8px;
}
.request__rights {
  display: flex;
  align-items: flex-start;
  
  
}

.request__rights-ERROR{
  color: red;
}


.wrapper {
  width: 100%;
  display: flex;



}

.contact {
  margin: auto;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  width: 229px;
  height: 36px;
  margin-bottom: 96px;
  box-sizing: border-box;
}

.contact-us {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  margin-left: 128px;
}
.contact-us__img {
  width: 94%;
}
.contact-us__tlf {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}
.contact-us__mail {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #000000;
  text-decoration: none;
}
.contact-us__city {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
}
.contact-us__label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6B7280;
  width: 172px;
  height: 28px;
}
.contact-us__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
  margin-top: 35px;
}

textarea {
  resize: none;
  max-width: 476px;
  width: 100%;
  height: 133px;
  border: 1px solid #9CA3AF;
  border-radius: 10px;
  margin-bottom: 32px;
  background: #F3F4F6;
}

form {
  display: flex;
  width: 50%;
  height: 700px;
}

.wrapper {
  width: 100%;
  display: flex;
}

@media screen and (max-width: 360px) {
  .container-request {
    margin: 0px;
  }
  .contact {
    width: 211px;
    height: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    margin: 0px 83px 24px 66px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
  }
  .request {
    width: 100%;
    height: auto;
    border-radius: 0px;
    padding: 20px 14px;
    margin: 0px;
  }
  form {
    width: 100%;
    height: 580px;
  }
  .request__input {
    box-sizing: border-box;
    width: 100%;
    height: 41px;
    padding: 7px 138px 7px 16px;
    border-radius: 20px;
    margin-top: 17px;
  }
  .request__info-block {
    width: 100%;
  }
  .request__input::placeholder {
    width: 192px;
    height: 28px;
  }
  .request-wrapper {
    margin: 16px 0px;
    width: 100%;
  }
  .request__button_middle {
    max-width: 330px;
    width: 100%;
    margin-bottom: 24px;
  }
  .request__rights {
    width: 100%;
  }
  .mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(/Images/request.png);
    background-size: cover;
    box-sizing: border-box;
    background-position: bottom;
    margin: 0px;
    padding-right: 26px;
    padding-left: 26px;
  }
  .contact-us__img {
    display: none;
  }
  .contact-us {
    margin: 70px 140px 143px 0px;
  }
  .contact-us__wrapper {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 960px) {
  .container-request {
    margin: 0px;
  }
  .contact {
    width: 211px;
    height: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    margin: 0px 83px 24px 66px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
  }
  .request {
    width: 100%;
    height: auto;
    border-radius: 0px;
    padding: 20px 14px;
    margin: 0px;
  }
  form {
    width: 100%;
    height: 580px;
  }
  .request__input {
    box-sizing: border-box;
    width: 100%;
    height: 41px;
    padding: 7px 138px 7px 16px;
    border-radius: 20px;
    margin-top: 17px;
  }
  .request__info-block {
    width: 100%;
  }
  .request__input::placeholder {
    width: 192px;
    height: 28px;
  }
  .request-wrapper {
    margin: 16px 0px;
    width: 100%;
  }
  .request__button_middle {
    max-width: 330px;
    width: 100%;
    margin-bottom: 24px;
  }
  .request__rights {
    width: 100%;
  }
  .mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(/Images/request.png);
    background-size: cover;
    box-sizing: border-box;
    background-position: bottom;
    margin: 0px;
    padding-right: 26px;
    padding-left: 26px;
  }
  .contact-us__img {
    display: none;
  }
  .contact-us {
    margin: 70px 140px 143px 0px;
  }
  .contact-us__wrapper {
    margin-bottom: 30px;
  }
}

@media screen and (max-width:700px) {


  .container__header {
    max-width: 700px;
    margin: 0px;
  }

  .list {
    width: 100%;
    height: 511px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5% 0px 6% 3%;
    margin: 0px;
    box-sizing: border-box;



  }


  .wrappper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8%;

  }

  .list__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    align-items: center;
    width: 100%;
    height: 100%;

  }

  .list__text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    text-align: start;
    margin: 0px 0px 8px 0px;
  }

  .list__desc {

    text-align: start;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  .list__img {

    width: 60px;
    height: 60px;

  }


}


.button:hover {
  background-color: #24BA96;
}

.request__button_middle:default{
  background-color: #053caa;
}

.request__button_middle:hover {
  background-color: #24BA96;
}

