.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 133px;
    box-sizing: border-box;
    background-image: url(/Images/velo.png);
    background-size: cover;
    background-position-x: 50%;
    height: calc(100vh - 64px);
    animation: header_logo_name ease 5s;

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__lead {
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 58px;
        text-align: center;
        margin: 0;
    }


    &__subtitle{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 52px;
    }

    &__button_large{
        width: 70%;
        height: 70px;
        text-align: center;
    }
}

@media screen and (max-width:700px) {
    .banner {
      height: calc(100vh - 42px);
  
    }
  
  }
    
  
  @media screen and (max-width:360px) {
  
    .banner__subtitle {
      font-size: 26px;
      line-height: 40px;
    }
  
    .banner__lead {
  
      font-size: 20px;
      line-height: 34px;
    }
  }