.container-faq {
    max-width: 1400px;
    margin: 0px auto;

}

.hr {
    max-width: 772px;
    width: 100%;
    border: 1px solid #9CA3AF
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;

    &__topic {
        margin: 0px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 38px;
        margin-bottom: 64px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        padding: 0px 287px;
        margin-top: 29px;
        gap: 8px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    &__answer {
        display: flex;
        justify-content: space-between;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        margin: 0px;
    }

    &__h3_height-big {
        height: 50px;
    }

    &__h3_height-middle {
        height: 32px;
    }

    &__h3_height-small {
        height: 27px;
    }

    &__p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        margin: 37px 0px 31px 0px;
    }

    &__list_grey__small{
        border-radius: 20px;
    padding: 24px 50px 24px 31px;
    }

    &__list_grey{
        border-radius: 20px;
        padding: 33px 50px 33px 31px;
    }

    &__list_white{
        border-radius: 20px;
        padding: 24px 50px 24px 31px;
    }


}

details {
    background: #F3F4F6;
  }
  
  details[open] .marker {
    transform: rotate(360deg);
  }
  
  details[open] {
    background: none;
  
  }
  
  
  details>summary::marker {
    display: none;
  }
  
  .marker {
    transform: rotate(270deg);
    transition-duration: 2s;
    transition-timing-function: ease;
  }
  
  
  
  
  .marker:hover path {
    fill: #053caa;
  
  }

  @media screen and (max-width:360px) {
    .questions {
      align-items: flex-start;
      margin-bottom: 54px;
    }
  
    .questions__topic {
      margin: 0px;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 36px;
      margin-bottom: 32px;
      margin-left: 13px;
    }
  
  
  
    .questions__block {
      display: flex;
      flex-direction: column;
      padding: 0px 20px 0px 15px ;
      margin-top: 29px;
      gap: 40px;
  
    }
  
    .questions__list {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      border-top: 1px solid #9CA3AF;
    
  
  
  
    }
  
  
    .hr {
      display: none   ;
    }
  
    .questions__answer {
      max-width: 324px;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 34px;
      margin: 0px;
    }
  .marker {
    width: 20px;
    margin-top: 5px;
  }
  
    .questions__h3_height-big {
      height: 100px;
    }
  
    .questions__h3_height-middle {
      height: 98px;
    }
  
    .questions__h3_height-small {
      height: 98px;
    }
  
    .questions__p {
      width: 306px;
      font-family: 'Open Sans';
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      margin: 24px 40px 24px 0px;
  
    }
  
    .questions__list_grey__small {
      border-radius: 0px;
      padding: 0px 0px 0px 0px;
    }
  
    .questions__list_grey {
      border-radius: 0px;
      padding: 0px 0px 0px 0px;
  
    }
  
    .questions__list_white {
      border-radius: 0px;
      padding: 0px 0px 0px 0px;
  
    }
  
    details {
      background: none;
    }
  }