.header {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3F4F6;
  
  &__wraps{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 114px;
    width: 100%;
    animation-name: logotype;
    animation-duration: 5s;
    animation-timing-function: ease;
  }

  &__logo{
    width: 130px;
    display: flex;
    align-items: center;
    line-height: 30px;
    margin-top: 18px;
    margin-bottom: 15px;
    animation: header_logo_name ease 2s;
  
  }

  &__logo-name{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
  }
  

  &__tlf{
    width: 167px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-left: auto;
    margin-right: 32px;
    text-decoration: none;
    color: black;
  }
  }

  @keyframes logotype {
    from {
      opacity: 0.2;
      width: 1400px;
      height: 0px;
    }
  
    to {
      width: 1400px;
      height: 64px;
    }
  }

  @keyframes header_logo_name {
    0% {
      opacity: 0;
    }
  
    ;
  
    100% {
      opacity: 1;
    }
  
    ;
  }

  .shdow {
    display: flex;
    animation-name: header_logo_name;
    animation-duration: 3s;
  }
  
  .velo {
    animation-name: velok;
    animation-duration: 5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  @keyframes velok {
  
    0%,
    50% {
      margin-left: 0px;
    }
  
    71%,
    100% {
      margin-left: 600%;
    }
  
  }
  .button_small {
    width: 170px;
    height: 32px;
    font-size: 14px;
    padding: 4px 30px;
  
  }


  .button {
    background: #278EED;
    border: 1px solid #278EED;
    border-radius: 20px;
    color: white;
  } 
  @media screen and (max-width: 996px) {
    .header {
      height: 42px;
  
    }
  
    .header__wraps {
      padding: 0px 16px 0px 8px;
    }
  
    .header__tlf {
      display: none;
    }
  
    .header__logo-name {
      display: none;
    }
  }

  @media screen and (max-width:700px) {
  
    .header {
      height: 42px;
    }
  
  
  
    .header__wraps {
      padding: 0px 16px 0px 8px;
    }
  
  
  
    .header__tlf {
      display: none;
    }
  
    .header__logo-name {
      display: none;
    }
  }