.container{
    max-width: 1400px;
    margin: 0 auto;
}

.list {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    border-radius: 20px;
    padding: 7% 8% 4%;
    justify-content: center;
    gap: 2%;
    height: 573px;

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 31px 5%;
        width: 26%;
        height: 424px;
    }

    &__text{
        font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    }

    &__desc{
        height: auto;
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        margin: 0;
    }

    &__text_green{
        color: #24BA96; 
    }

    &__text_yellow{
        color: #F0A900;
    }

    &__text_pink{
        color: #FF6577;
    }

    &__img{
        max-width: 372px;
    }
}

@media screen and (max-width:360px) {
    .container {
      max-width: 360px;
      margin: 39px 15px;
    }
  
    .list {
      width: 100%;
      height: 511px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      padding: 5% 0px 6% 3%;
      margin: 0px;
      box-sizing: border-box;
  
  
  
    }
  
  
    .wrappper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 8%;
  
    }
  
    .list__item {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      align-items: center;
      width: 100%;
      height: 100%;
  
    }
  
    .list__text {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 34px;
      text-align: start;
      margin: 0px 0px 8px 0px;
    }
  
    .list__desc {
  
      text-align: start;
      font-family: 'Open Sans';
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  
    .list__img {
  
      width: 60px;
      height: 60px;
  
    }
  }

  @media screen and (max-width:700px) {
  
  
    .container__header {
      max-width: 700px;
      margin: 0px;
    }
  
    .list {
      width: 100%;
      height: 511px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      padding: 5% 0px 6% 3%;
      margin: 0px;
      box-sizing: border-box;
  
  
  
    }
  
  
    .wrappper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 8%;
  
    }
  
    .list__item {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      align-items: center;
      width: 100%;
      height: 100%;
  
    }
  
    .list__text {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 34px;
      text-align: start;
      margin: 0px 0px 8px 0px;
    }
  
    .list__desc {
  
      text-align: start;
      font-family: 'Open Sans';
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  
    .list__img {
  
      width: 60px;
      height: 60px;
  
    }
  
  
  }