.container__reviews {
    max-width: 1400px;
    margin: 0 auto;

}

.utr {
    width: 50%;
    max-width: 572px;

}

.revirws__wrapper {
    width: 100%;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    margin-bottom: 1px;
    margin-right: 0px;
}

.reviews {
    display: flex;
    width: 100%;
    max-height: 546px;
    height: 100%;
    padding: 6% 8.15% 7.5% 8.15%;
    gap: 12px;
    box-sizing: border-box;

    &__clients {
        display: flex;
        flex-direction: column;
        width: 50%;
        max-height: 346px;
        background-image: url(/Images/background.png);
        background-size: cover;
        background-position: center;
        background-position-x: 50%;
    }

    &__mountain-picture {
        width: 100%;
        height: 100%;
    }

    &__subtitle {
        width: 300px;
    height: 33px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    padding-right: 0px;
    margin: 0px;
    }

    &__blockquote {
        font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 292px;
    height: 104px;
    text-align: start;
    margin: 48px 0px 24px 0px;
    }

    &__author-name {
        width: 158px;
        height: 34px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 34px;
        margin: 0px;
    }

    &__arrow-thumbnail {
        order: 1;
    }

    &__points-thumbnail {
        width: 100%;
        max-width: 172px;
    }
}


@media screen and (max-width:360px) {
    .reviews {
  
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      max-height: 465px;
      height: 100%;
      padding: 0px 14px;
      gap: 0px;
      box-sizing: border-box;
  
  
    }
  
    .reviews__clients {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      width: 100%;
      background-image: none;
      background-size: none;
      background-position: none;
      background-position-x: none;
  
    }
  
    .utr {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 329px;
      height: 199px;
  
  
    }
  
    .reviews__mountain-picture {
      width: 100%;
  
  
    }
  
  
  }

  @media (min-width: 361px) and (max-width:960px) {
  
  
    .reviews {
  
      display: flex;
      flex-direction: column;
  
      width: 100%;
      max-height: 546px;
      height: 100%;
      padding: 0px;
      gap: 0px;
      box-sizing: border-box;
  
  
    }
  
    .reviews__clients {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-height: 346px;
      height: 100%;
      background-image: none;
      background-size: none;
      background-position: none;
      background-position-x: none;
  
    }
  
    .utr {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 960px;
  
  
    }
  
    .reviews__mountain-picture {
      width: 360px;
      height: 100%;
  
  
    }
  
    .reviews__subtitle {
  
      height: 33px;
      text-align: center;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 38px;
      padding-right: 0px;
      margin: 0px;
  
    }
  
    .reviews__blockquote {
      width: 97%;
      text-align: center;
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      margin: 20px 2.3% 20px 0px;
    }
  
  
  
    .reviews__author-name {
  
      width: 100%;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 34px;
      margin: 0px;
    }
  
    .revirws__wrapper {
      max-width: 960px;
      width: 100%;
  
      box-sizing: content-box;
      display: flex;
      justify-content: start;
      margin-top: 0px;
      margin-bottom: 1px;
      margin-right: 0px;
  
    }
  
  }