body {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.class {
    background-color: aqua;
}

textarea {
    resize: none;
}

.contact {
    padding: 12px;
}

.container {
    padding: 2px;
    border: solid black 4px;
    border-radius: 7px;
    max-width: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: "header header header header"
        "main main . sidebar"
        "footer footer footer footer";
        
}

.header {
    
    text-align: center;
    grid-area: header;
    background-color: #FF8C00;
    border-radius: 7px;
    
   
}

.main{
    text-align: center;
    grid-area: main;
    background-color:#00FFFF;
    border-radius: 7px;
}

.sidebar {
    text-align: center;
    grid-area: sidebar;
    background-color: rgb(253, 8, 0);
    border-radius: 7px;
}

.footer {
    text-align: center;
    grid-area: footer;
    background-color: rgb(78, 249, 4);
    border-radius: 7px;
}
