@font-face {
    font-family: 'open-sans' , 'sans-serif';
    src: url(./OpenSans-Regular.ttf);
    font-style: normal;
    font-weight: 600;
} 

@font-face {
    font-family: 'open-sans' , 'sans-serif';
    src: url(./OpenSans-Regular.ttf);
    font-style: normal;
    font-weight: 700;
} 

@font-face {
    font-family: 'open-sans' , 'sans-serif';
    src: url(./OpenSans-Regular.ttf);
    font-style: italic;
    font-weight: 400;
} 