.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 133px;
    box-sizing: border-box;
    background-image: url(/Images/velo.png);
    background-size: cover;
    background-position-x: 50%;
    height: calc(100vh - 64px);
    animation: header_logo_name ease 5s;

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
      
      
    }

    &__lead {
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 58px;
        text-align: center;
        margin: 0;
    }

    &__subtitle {
  
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 52px;
      }

      &__button_large {
  
        width: 70%;
        height: 70px;
        text-align: center;
      }

  }
 .button {
    background: #278EED;
    border: 1px solid #278EED;
    border-radius: 20px;
    color: white;
  }