.container-faq {
    max-width: 1400px;
    margin: 0px auto;
  
  }

  .questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;

    &__topic {
        margin: 0px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 38px;
        margin-bottom: 64px;
      }


      &__block {
        display: flex;
        flex-direction: column;
        padding: 0px 287px;
        margin-top: 29px;
        gap: 8px;
      }

      &__list {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
      }

&__answer {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
  
  }

  &__h3_height-big {
    height: 50px;
  }
  
  &__h3_height-middle {
    height: 32px;
  }

 &__h3_height-small {
    height: 27px;
  }
  &__p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 37px 0px 31px 0px;
  
  }

&__list_grey__small {
    border-radius: 20px;
    padding: 24px 50px 24px 31px;
  }

  &__list_grey {
    border-radius: 20px;
    padding: 33px 50px 33px 31px;
  
  }


  &__list_white {
    border-radius: 20px;
    padding: 24px 50px 24px 31px;
  
  }


  }

  .hr {
    max-width: 772px;
    width: 100%;
    border: 1px solid #9CA3AF
  }


  details {
    background: #F3F4F6;
  }
  
  details[open] .marker {
    transform: rotate(360deg);
  }
  
  details[open] {
    background: none;
  
  }
  
  
  details>summary::marker {
    display: none;
  }
  
  .marker {
    transform: rotate(270deg);
    transition-duration: 2s;
    transition-timing-function: ease;
  }
  
  
  
  
  .marker:hover path {
    fill: #053caa;
  
  }