.list {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    border-radius: 20px;
    padding: 7% 8% 4%;
    justify-content: center;
    gap: 2%;
    height: 573px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 31px 5%;
        width: 26%;
        height: 424px;
      
      }

      &__text {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
      }
  
      &__desc {
  
        height: auto;
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        margin: 0;
      }

  }

  .list__text_green {
    color: #24BA96;
  }
  
  .list__text_yellow {
    color: #F0A900;
  }
  
  .list__text_pink {
    color: #FF6577;
  }
  
  
  .list__img {
    max-width: 372px;
  
  }