.request {
    max-width: 671px;
    width: 100%;
    height: 700px;
    background: #F3F4F6;
    border-radius: 20px;
    padding: 82px 96px 80px 100px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  
&__input {
    width: 100%;
    border: 1px solid #9CA3AF;
    border-radius: 10px;
    background: #F3F4F6;
    padding: 14px 0px 12px 16px;
  }

  &__input::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #9CA3AF;
  
  
  }

  &__input-label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
  }

  &__button_middle {
    max-width: 276px;
    width: 100%;
    height: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    padding: 11px 94px;
    text-align: center;
    margin-bottom: 8px;
  }

  &__rights {
    display: flex;
    align-items: flex-start;
  }
  }

  .contact {
    margin: auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    width: 229px;
    height: 36px;
    margin-bottom: 96px;
    box-sizing: border-box;
  }

  .contact-us {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    margin-left: 128px;

&__img {
  
    width: 94%;
  }

  &__tlf {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
  
  }

  &__mail {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #000000;
    text-decoration: none;
  }

  &__city {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  &__label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6B7280;
    width: 172px;
    height: 28px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 54px;
    margin-top: 35px;
  }




  }
  
.container-request {
    max-width: 1400px;
    margin-left: 114px;
    margin-right: 94px;
  
  
  
  
  }


  .request-wrapper {
    margin-top: 44px;
    margin-bottom: 32px;
  }

  .mobile {
    width: 50%;
    max-width: 607px;
  }

  textarea {
    resize: none;
    max-width: 476px;
    width: 100%;
    height: 133px;
    border: 1px solid #9CA3AF;
    border-radius: 10px;
    margin-bottom: 32px;
    background: #F3F4F6;
  }
  
  
  form {
    display: flex;
    width: 50%;
    height: 700px;
  }
  
  .wrapper {
    width: 100%;
    display: flex;
  
  
  
  }