.container__reviews {
    max-width: 1400px;
    margin: 0 auto;
  
  }

  .reviews {
    display: flex;
    width: 100%;
    max-height: 546px;
    height: 100%;
    padding: 6% 8.15% 7.5% 8.15%;
    gap: 12px;
    box-sizing: border-box;

    &__clients {
        display: flex;
        flex-direction: column;
        width: 50%;
        max-height: 346px;
        background-image: url(/Images/background.png);
        background-size: cover;
        background-position: center;
        background-position-x: 50%;
      
      }

      &__mountain-picture {
        width: 100%;
        height: 100%;
      }
      
      &__subtitle {
        width: 472px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 38px;
        padding-right: 19.8%;
        margin: 0px;
      }


      &__blockquote {
        width: 97%;
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        margin: 32px 2.3% 32px 0px;
      }


      &__author-name {
  
        width: 158px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 34px;
      }

      &__wrapper {
        box-sizing: content-box;
        display: flex;
        justify-content: space-between;
        margin-top: 83px;
        margin-bottom: 40px;
        margin-right: 15px;
      }


      &__arrow-thumbnail {
        order: 1;
      
      }

      &__points-thumbnail {
        width: 100%;
        max-width: 172px;
      }


      }


  .utr {
    width: 50%;
    max-width: 572px;
  
  }